@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

#overlay {
        background: #000000;
        color: #666666;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 5000;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        padding-top: 15%;
    }

body{
    font-family: 'Quicksand', sans-serif;
}
 
.navbar {
	margin-bottom: 0px;
}	

.p0 {
  padding: 0 !important;
}

.log-img {
  max-height: 100%;
}
	
.ilogo {
	 width:60; 
	 height:100;
}	
	
.slideshow {
	padding: 0px;
	width: 100%;
	min-height: 20%;
	max-width: 100%;
	
		}


		
.navbar-text > a {
	color: inherit;
	text-decoration: none;
}

//Mission Vision

body {
	padding-top:50px;
	padding-bottom: 50px;
	}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 80px;
	margin-bottom: 60px;
	}
.box-icon {
    background-color: orange;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
} 

.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

